@import './../../scss/mixines';
@import './../../scss/variables';

.dropdownMenu {
  width: $dropdownMenuWidth;
  background-color: $dropdownMenuBackgroundColor;
  box-shadow: $dropdownMenuBoxShadow;
  padding: 8px;
}

.dropdownItem {
  @include flexCenter;
  height: $dropdownMenuItemHeight;
  justify-content: space-between;
  cursor: pointer;
}
